<ion-content class="ion-content" color="title">
  <div class="content-container">
    <img src="assets/img/crearEvento.png" alt="">
    <ion-grid>
      <ion-row justify-content-center class="ion-justify-content-center">
        <ion-col size-md="6" size-lg="4" size-xl="3" class="ion-text-center">

          <form [formGroup]="eventosForm" (ngSubmit)="onSubmit()" class="custom-form">
            <!--  ********* NOMBRE DEL EVENTO ********* -->
            <ion-item class="custom-input">
              <ion-label position="floating">Nombre Evento</ion-label>
              <ion-input formControlName="nombreEvento" type="text"></ion-input>
            </ion-item>
            <div
              *ngIf="eventosForm.get('nombreEvento')?.hasError('required') && eventosForm.get('nombreEvento')?.touched">
              <ion-text class="error-ms" color="danger">El nombre del Evento es obligatorio</ion-text>
            </div>
            <!--  ********* DESCRIPCION DEL EVENTO ********* -->
            <ion-item class="custom-input">
              <ion-label position="floating">Descripción del Evento</ion-label>
              <ion-input formControlName="descripcion" type="text"></ion-input>
            </ion-item>
            <div
              *ngIf="eventosForm.get('descripcion')?.hasError('required') && eventosForm.get('descripcion')?.touched">
              <ion-text class="error-ms" color="danger"> La descripcion del evento es Obligatorio</ion-text>
            </div>

            <!--  ********* FECHA DEL EVENTO ********* -->
            <ion-item class="custom-input">
              <ion-label position="floating">Fecha Evento</ion-label>
              <br>
              <ion-input formControlName="fecha" type="date"></ion-input>
            </ion-item>
            <div *ngIf="eventosForm.get('fecha')?.hasError('required') && eventosForm.get('fecha')?.touched">
              <ion-text class="error-ms" color="danger">La fecha es Obligatoria</ion-text>
            </div>

            <!--  ********* COSTO DEL EVENTO ********* -->
            <ion-item class="custom-input">
              <ion-label position="floating">Costo Evento</ion-label>
              <br>
              <ion-input formControlName="costo" type="number">$</ion-input>
            </ion-item>
            <div *ngIf="eventosForm.get('costo')?.hasError('required') && eventosForm.get('costo')?.touched">
              <ion-text class="error-ms" color="danger">El costo del evento es Obligatorio</ion-text>
            </div>
             <!--  ********* LUGAR DEL EVENTO ********* -->
             <ion-item class="custom-input">
              <ion-label position="floating">Lugar Evento</ion-label>
              <ion-input formControlName="lugar" type="text"></ion-input>
            </ion-item>
            <div
              *ngIf="eventosForm.get('lugar')?.hasError('required') && eventosForm.get('lugar')?.touched">
              <ion-text class="error-ms" color="danger">El lugar del evento es Obligatorio</ion-text>
            </div>

            <ion-item class="custom-input">
              <ion-label position="floating" style="text-align: center;">NOTA</ion-label>
              <br>
              <ion-input type="text" style="text-align: center;"> Todos los Eventos se pagan el mismo dia del evento y en el lugar</ion-input>
            </ion-item>

            <ion-button class="boton-registro" color="boton" expand="full" type="submit">Guardar Evento</ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<!-- <ion-footer [translucent]="true" class="custom-footer">
    <ion-toolbar color="footer">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <ion-button fill="clear" (click)="redirectToFacebook()">
              <ion-icon name="logo-facebook" style="color: black;"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button fill="clear" (click)="redirectToInstagram()">
              <ion-icon name="logo-instagram" style="color: black;"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button fill="clear" (click)="redirectToYoutube()">
              <ion-icon name="logo-youtube" style="color: black;"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer> -->