<ion-content [fullscreen]="true">

  <div class="container">
   <h1 id="txtBienvenida"> Bienvenido a EcoSense 👋🌎</h1>
  </div>
 
  <div id="formulario">
   <form>
     <ion-item lines="full">
       <ion-icon aria-hidden="true" name="person-sharp" slot="end"></ion-icon>
       <ion-label position="floating">Email</ion-label>
       <ion-input type="email" required></ion-input>
     </ion-item>
     <ion-item lines="full">
       <ion-icon aria-hidden="true" name="lock-closed-sharp" slot="end"></ion-icon>
       <ion-label position="floating">Contraseña</ion-label>
       <ion-input type="password" required></ion-input>
     </ion-item>
     <ion-row>
       <ion-col>
         
         <ion-button type="submit" color="success" expand="block" shape="round" size="large">Iniciar sesión</ion-button>
       </ion-col>
     </ion-row>
   </form>
  </div>
  <div id="divisor">
    <span >o</span>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block" shape="round" size="large">Iniciar sesión con Google</ion-button>
      </ion-col>
    </ion-row>
  </div>
   
  
 </ion-content>
   