
.container{
    margin-top: 200px;
    text-align: center;
}
#formulario{
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
}
#divisor{
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}
#txtBienvenida{
    font-size: 45px;
}

ion-button {
    margin-top: 20px;
    border-radius: 20px; 
    background-color: var(--ion-color-button); 
    color: #FFFFFF; 
    font-weight: bold; 
  }