<ion-content class="ion-content" color="title">
  <div class="content-container">
    <img src="assets/img/crearReporte.png" alt="">
    <ion-card>
      <ion-card-content>
        <!-- Campos del formulario -->
        <ion-item class="custom-input">
          <ion-label>Título</ion-label>
          <ion-input [(ngModel)]="formData.titulo" name="titulo"></ion-input>
        </ion-item>
        <ion-item class="custom-input">
          <ion-label>Lugar</ion-label>
          <ion-input [(ngModel)]="formData.lugar" name="lugar" ></ion-input>
        </ion-item>
        <ion-item class="custom-input">
          <ion-label>Descripción</ion-label>
          <ion-textarea [(ngModel)]="formData.descripcion" name="descripcion"
            ></ion-textarea>
        </ion-item>

        <ion-item class="custom-input"> 
          <ion-label>Capturar Imagen</ion-label>
          <ion-input type="img" (click)="addPhotoToGallery()">
            <ion-fab-button class="boton-registro" color="boton">
              <ion-icon name="camera" ></ion-icon>
            </ion-fab-button>
          </ion-input>
        </ion-item>

        <div>
          <ng-container *ngFor="let imagenUrl of fotos">
            <ion-card>
              <img [src]="imagenUrl" alt="Imagen">
            </ion-card>
          </ng-container>
        </div>

        <div  class="imagenAll">
          <ng-container  *ngFor="let photo of fotosCelular" class="imagenAll">
            <ion-card>
              <img [src]="photo" alt="Imagen">
            </ion-card>
          </ng-container>
        </div>

        <ion-button class="boton-registro" color="boton" expand="full" (click)="ubicacionUsuario()">Crear Mapa</ion-button>

        <br />

        <ion-button expand="full" class="boton-registro" color="boton" expand="full" (click)="guardar()">Guardar</ion-button>
      </ion-card-content>
    </ion-card>
    <!-- Botón para tomar fotos -->
  </div>

  <div *ngIf="mapa" class="map-container">
    <capacitor-google-maps class="map" #map></capacitor-google-maps>
  </div>
</ion-content>