capacitor-google-maps {
    display: inline-block;
    width: 500px;
    height: 500px;
}

ion-card-title{
    color: var( --ion-color-header);
}
  
ion-button {
    margin-top: 20px;
    border-radius: 20px; 
    background-color: var(--ion-color-button); 
    color: #FFFFFF; 
    font-weight: bold; 
}

// .content-container {
//     flex: 1;
//     padding: 20px;
//     box-sizing: border-box;
// }
  
// .ion-content {
//     margin-bottom: 100px;  /* Ajusta esta altura según la altura de tu footer */
//     flex: 1;
//     display: flex;
//     flex-direction: column;
// }