<!-- footer.page.html -->

<!-- <div class="footer">
  <div class="row">
    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
    <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
  </div>
  <div class="row">
    <ul>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Our Services</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Career</a></li>
    </ul>
  </div>
  <div class="row">
    INFERNO Copyright © 2021 Inferno - All rights reserved || Designed By: Mahesh
  </div>
</div> -->
