
<ion-content class="ion-content" color="title">
  <div class="content-container">
    <h1>BIENVENIDO A </h1>
    <img src="assets/img/logo_3.png" alt="">
    <h2>¡Regístrate!</h2>
    <br>
  <ion-grid>
    <ion-row justify-content-center class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="4" size-xl="3" class="ion-text-center">
        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()"
          class="custom-form">
          <ion-item class="custom-input">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre" type="text"></ion-input>
          </ion-item>
          <div
            *ngIf="registroForm.get('nombre')?.hasError('required') && registroForm.get('nombre')?.touched">
            <ion-text class="error-ms" color="danger">El nombre es obligatorio.</ion-text>
          </div>

          <ion-item class="custom-input">
            <ion-label position="floating">Apellido Paterno</ion-label>
            <ion-input formControlName="apellidoPaterno" type="text"></ion-input>
          </ion-item>
          <div
            *ngIf="registroForm.get('apellidoPaterno')?.hasError('required') && registroForm.get('apellidoPaterno')?.touched">
            <ion-text class="error-ms" color="danger">El Apellido Paterno es
              obligatorio.</ion-text>
          </div>

          <ion-item class="custom-input">
            <ion-label position="floating">Apellido Materno</ion-label>
            <ion-input formControlName="apellidoMaterno" type="text"></ion-input>
          </ion-item>
          <div
            *ngIf="registroForm.get('apellidoMaterno')?.hasError('required') && registroForm.get('apellidoMaterno')?.touched">
            <ion-text class="error-ms" color="danger">El Apellido Materno
              obligatorio.</ion-text>
          </div>

          <ion-item class="custom-input">
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input formControlName="correo" type="email"></ion-input>
          </ion-item>
          <div
            *ngIf="registroForm.get('correo')?.hasError('required') && registroForm.get('correo')?.touched">
            <ion-text class="error-ms" color="danger">El correo es obligatorio.</ion-text>
          </div>
          <div
            *ngIf="registroForm.get('correo')?.hasError('email') && registroForm.get('correo')?.touched">
            <ion-text class="mensajeError" color="danger">El correo debe ser
              válido.</ion-text>
          </div>

          <ion-item class="custom-input">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="contrasena" type="password"></ion-input>
          </ion-item>
          <div
            *ngIf="registroForm.get('contrasena')?.hasError('required') && registroForm.get('contrasena')?.touched">
            <ion-text class="error-ms" color="danger">La contraseña es
              obligatoria.</ion-text>
          </div>
          <div
            *ngIf="registroForm.get('contrasena')?.hasError('minlength') && registroForm.get('contrasena')?.touched">
            <ion-text class="error-ms" color="danger">La contraseña debe tener
              al menos 6
              caracteres.</ion-text>
          </div>

          <ion-button class="boton-registro" color="boton" expand="full"
            type="submit" [disabled]="!registroForm.valid">Registrarse</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>

  <!-- <ion-footer [translucent]="true" class="custom-footer">
    <ion-toolbar color="footer">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <ion-button fill="clear" (click)="redirectToFacebook()">
              <ion-icon name="logo-facebook" style="color: black;"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button fill="clear" (click)="redirectToInstagram()">
              <ion-icon name="logo-instagram" style="color: black;"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button fill="clear" (click)="redirectToYoutube()">
              <ion-icon name="logo-youtube" style="color: black;"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer> -->
  <app-footer></app-footer>